@import url("https://use.typekit.net/vhk2nyf.css");

.homepage {
    background-image: url('../images/chalkboard.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-family: adobe-handwriting-tiffany, sans-serif;
    font-style: normal;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}
.homepage h1 {
    margin-bottom: 0;
    padding-top: 1.5em;
    color: white;
    font-size: 3.875rem;
    font-weight: 300;
}
.homepage svg {
    width: 50%;
}
.roles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
}
.roles h2 {
    color: white;
    margin-bottom: 0;
    font-size: 4.5rem;
    font-weight: 300;
}
.roles p {
    color: white;
    width: 14em;
    font-size: 1.375rem;
    line-height: 1.25em;
}
.role-faculty, .role-friend, .role-student {
    cursor: pointer;
}
.faded h1, .faded h2, .faded p {
    color: #A4A4A4;
}
.no-display {
    display: none;
}
.faculty-video {
    position: absolute;
    top: 54%;
    right: 60%;
    width: 40%;
    animation: slide-up 0.5s;
}
.friend-video {
    position: absolute;
    top: 54%;
    right: 31%;
    width: 40%;
    animation: slide-up 0.5s;
}
.student-video {
    position: absolute;
    top: 54%;
    right: 2%;
    width: 40%;
    animation: slide-up 0.5s;
}
@keyframes slide-up {
    0% {
        top: 70%;
    }
    100% {
        top: 54%;
    }
}