.simulation {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    animation: fade-in 3s forwards;
}
/* .no-background {
    background-image: none;
} */
.background-scenario1 {
    background-image: url('../images/home-interior-background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* animation: fade-in 4s forwards; */
}
.background-faculty-student {
    background-image: url('../images/empty-classroom.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.fade-in {
    animation: fade-in 1s forwards;
}
.fade-in-longer {
    animation: fade-in 4s forwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.friend-depression-video {
    position: absolute;
    /* top: 25%; */
    bottom: 3%;
    right: 17%;
    width: 65%;
}

.dialogue h1 {
    text-align: center;
    font-size: 2rem;
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 60%;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.25em;
    line-height: 1.25em;
    padding: 0.7em 0.5em;
}
.dialogue h1 a {
    cursor: pointer;
    text-decoration: underline;
}
.dialogue h1 a:visited {
    color: white;
}
.dialogue-options {
    text-align: center;
    width: 60%;
    /* margin-top: 58vh; */
    /* position: relative; */
    position: absolute;
    /* top: 78%; */
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}
.dialogue p {
    width: fit-content;
    margin: auto;
    padding: 0.5em 1em;
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
    cursor: pointer;
    line-height: 1.25em;
}
.blue-white-background p {
    background-color: white;
    color: black;
}
.blue-white-background h1 {
    background-color: #758FB4;
    color: white;
}
.blue-background h1, .blue-background p{
    background-color: #758FB4;
    color: white;
}
.brown-white-background p {
    background-color: white;
    color: black;
}
.brown-white-background p:hover {
    background-color: #F3DECD;
    color: black;
}
.brown-white-background h1 {
    background-color: #A67C52;
    color: white;
}
.last-dialogue-option {
    /* max-width: 60%; */
    width: 60%;
}
.last-dialogue-option p {
    width: fit-content;
    max-width: 60%;
    padding: 0.5em 1em;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
    animation: fade-out-long 3s forwards;
}
@keyframes fade-out-long {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.popup {
    background-color: #758FB4;
    text-align: center;
}
.popup p {
    padding: 1em 0.5em;
    line-height: 1.25em;
    color: white;
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
}
.click-to-close p {
    cursor: pointer;
    width: fit-content;
    margin: auto;
    font-size: 1.1rem;
}
.popup ul {
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    line-height: 1.25em;
    color: white;
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
}
.popup li {
    margin-top: 0.5em;
}
.popup a {
    cursor: pointer;
    text-decoration: underline;
}
.popup a:-webkit-any-link {
    color: white;
    text-decoration: underline;
}
.popup a:-webkit-any-link:visited {
    color: white;
    text-decoration: underline;
}
.popup a:visited {
    color: white;
}
.finish {
    animation: slide-page-up 1s forwards;
}
.finish p {
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
}
.finish h1 {
    font-size: 3.875rem;
    font-weight: 300;
}
.finish svg {
    width: 53%;
}
.research-resources {
    justify-content: space-evenly;
    display: flex;
}
.research-resources h2 {
    font-size: 2rem;
    color: white;
    margin-top: 15%;
}
.research-resources ul li {
    color: white;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 8%;
}
.research-resources ul li a {
    color: white;

}
.finish p {
    font-size: 1.5rem;
    margin: auto;
    /* margin-top: 10%; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
    cursor: pointer;
    width: fit-content;
}
.attribution {
    position: absolute;
    bottom: 2%;
    left: 1%;
    color: white;
    font-size: 12px;
}
.attribution a {
    color: rgb(65, 65, 65);
    text-decoration: none;
}
@keyframes slide-page-up {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1366px) {
    .dialogue h1 {
        font-size: 1.5rem;
    }
    .dialogue p {
        font-size: 1.25rem;
    }
    .friend-depression-video {
        left: 50%;
        transform: translate(-50%);
        width: 60%;
    }
    .last-dialogue-option p {
        font-size: 1.25rem;
        transform: translate(-50%, -120%);
    }
    .finish h1 {
        font-size: 3.375rem;
    }
    .finish svg {
        width: 64%;
    }
    .research-resources h2 {
        font-size: 1.5rem;
    }
    .research-resources ul li {
        font-size: 1rem;
    }
    .finish p {
        font-size: 1.25rem;
        /* margin-top: 10%; */
    }
    .attribution {
        font-size: 10px;
    }
}

@media screen and (max-width: 1280px) {
    .finish p {
        /* margin-top: 3.5%; */
    }
}

@media screen and (max-width: 768px) {
    .research-resources {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 414px) {
    .background-scenario1 {
        background-image: url('../images/home-interior-background-mobile.jpg');
    }
    .background-faculty-student {
        background-image: url('../images/empty-classroom-mobile.jpg');
    }
    .dialogue-options {
        width: 85%;
        /* top: 75%; */
        bottom: 3%;
    }
    .dialogue h1 {
        font-size: 1.2rem;
        width: 85%;
    }
    .dialogue-options p {
        font-size: 1rem;
    }
    .last-dialogue-option p {
        text-align: center;
        font-size: 1rem;
        width: fit-content;
        max-width: 85%;
    }
    .friend-depression-video {
        /* top: 33%; */
        bottom: 4%;
        left: 50%;
        transform: translate(-50%);
        width: 200%;
    }
    .popup p {
        font-size: 1rem;
    }
    .click-to-close p {
        font-size: 0.8rem;
    }
    .popup ul {
        width: 80%;
        font-size: 1rem;
    }
    .finish h1 {
        font-size: 2rem;
    }
    .finish svg {
        width: 90%;
    }
    .research-resources h2 {
        font-size: 1rem;
    }
    .research-resources ul li {
        font-size: 0.75rem;
    }
    .finish p {
        font-size: 1rem;
        margin-top: 15%;
    }
    .attribution {
        font-size: 9px;
    }
}