.simulation {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    animation: fade-in 3s forwards;
}
/* .no-background {
    background-image: none;
} */
.background-scenario1 {
    background-image: url('../images/home-interior-background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* animation: fade-in 4s forwards; */
}
.fade-in {
    animation: fade-in 1s forwards;
}
.fade-in-longer {
    animation: fade-in 4s forwards;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.friend-depression-video {
    position: absolute;
    /* top: 25%; */
    bottom: 3%;
    right: 17%;
    width: 65%;
}

.dialogue h1 {
    text-align: center;
    background-color: #758FB4;
    font-size: 2rem;
    color: white;
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 60%;
    margin: auto;
    margin-top: 1em;
    border-radius: 0.25em;
    line-height: 1.25em;
    padding: 0.7em 0.5em;
}
.dialogue h1 a {
    cursor: pointer;
    text-decoration: underline;
}
.dialogue h1 a:visited {
    color: white;
}
.dialogue-options {
    text-align: center;
    width: 60%;
    /* margin-top: 58vh; */
    /* position: relative; */
    position: absolute;
    /* top: 78%; */
    bottom: 2%;
    left: 50%;
    transform: translate(-50%);
}
.dialogue p {
    width: fit-content;
    margin: auto;
    padding: 0.5em 1em;
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
    cursor: pointer;
    line-height: 1.25em;
}
/* .gray-out {
    background-color: #DCDCDC;
} */
.white-background {
    background-color: white;
}
.blue-background {
    background-color: #758FB4;
    color: white;
}
.last-dialogue-option {
    /* max-width: 60%; */
    width: 60%;
}
.last-dialogue-option p {
    width: fit-content;
    padding: 0.5em 1em;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
    background-color: white;
    animation: fade-out-long 3s forwards;
}
@keyframes fade-out-long {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.popup {
    background-color: #758FB4;
    text-align: center;
}
.popup p {
    padding: 1em 0.5em;
    line-height: 1.25em;
    color: white;
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
}
.click-to-close p {
    cursor: pointer;
    width: fit-content;
    margin: auto;
    font-size: 1.1rem;
}
.popup ul {
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
    line-height: 1.25em;
    color: white;
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
}
.popup li {
    margin-top: 0.5em;
}
.popup a {
    cursor: pointer;
    text-decoration: underline;
}
.popup a:visited {
    color: white;
}
.finish {
    animation: slide-page-up 1s forwards;
}
.finish p {
    font-family: rubik, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: white;
}
@keyframes slide-page-up {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 1366px) {
    .dialogue h1 {
        font-size: 1.5rem;
    }
    .dialogue p {
        font-size: 1.25rem;
    }
    .friend-depression-video {
        left: 50%;
        transform: translate(-50%);
        width: 60%;
    }
    .last-dialogue-option p {
        font-size: 1.25rem;
        transform: translate(-50%, -120%);
    }
}

@media screen and (max-width: 414px) {
    .simulation {
        background-image: url('../images/home-interior-background-mobile.jpg');
    }
    .dialogue-options {
        width: 85%;
        /* top: 75%; */
        bottom: 3%;
    }
    .dialogue h1 {
        font-size: 1.2rem;
        width: 85%;
    }
    .dialogue-options p {
        font-size: 1rem;
    }
    .last-dialogue-option p {
        text-align: center;
        font-size: 1rem;
        width: fit-content;
    }
    .friend-depression-video {
        /* top: 33%; */
        bottom: 4%;
        left: 50%;
        transform: translate(-50%);
        width: 200%;
    }
    .popup p {
        font-size: 1rem;
    }
    .click-to-close p {
        font-size: 0.8rem;
    }
    .popup ul {
        width: 80%;
        font-size: 1rem;
    }
}